body {
  background: #fff;
}

.container {
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 5px;
}

.Header {
  background-color: #bbb;
  font-size: 24pt;
  font-weight: bold;
  font-family: monospace;
  grid-column: 1 / -1;
}

.post {
  background-color: #eee;
  font-size: 34pt;
  text-align: center;
}

.Footer {
  background-color: #bbb;
  grid-column: 1 / -1;
}
